.cta {
  align-items: center;
  display: inline-block;
  gap: 0.8rem;
  padding: 0.8rem 4.2rem;
  /* background: var(--color-white);
  color: var(--color-blue); */
  border-radius: 1rem;
  font-weight: 600;
  text-decoration: none;
  transition:
    background-color 0.14s ease,
    color 0.14s ease,
    box-shadow 0.14s ease;
}
