.grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  background-color: var(--color-gray);
  color: var(--color-white);
  font-size: var(--size-20);
  border-radius: var(--radius-15);
  padding: 3rem;
}

.buttons {
  justify-self: end;
}

.icons {
  display: flex;
  justify-content: flex-end;
  gap: 2rem;
}

.mb {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.bottom {
  max-width: 70rem;
  line-height: 1.7;
}

.title {
  font-weight: 700;
}
