.box {
  display: flex;
  flex-direction: column;
  /* gap: 2rem; */
  font-size: var(--size-20);
}

.tittle {
  font-size: var(--size-24);
  font-weight: 700;
  text-align: center;
  margin-bottom: 3rem;
}

.hr {
  border-top: 2px solid var(--color-gray-light);
  margin-bottom: 2rem;
}

.block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.close {
  width: 32px;
  height: 32px;
  opacity: 0.6;
  background: transparent;
  border: none;
  cursor: pointer;
  position: relative;
  padding: 0;
  display: inline-block;
}

.close:hover {
  opacity: 1;
}

.close:before,
.close:after {
  position: absolute;
  content: "";
  height: 20px;
  width: 2px;
  background-color: var(--color-black);
  left: 50%;
  top: 50%;
  transform-origin: center;
  transform: translate(-50%, -50%) rotate(45deg);
  transition:
    transform 0.25s ease,
    opacity 0.25s ease;
}
.close:after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.close.active:before {
  transform: translate(-50%, -50%) rotate(0deg);
}
.close.active:after {
  transform: translate(-50%, -50%) rotate(0deg);
}

.quest {
  font-weight: 700;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.ans {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  overflow: hidden;
  max-height: 0;
  opacity: 0;
  transform: translateY(-20px);
  transition: all 300ms cubic-bezier(0.2, 0.9, 0.2, 1);
  padding: 0 0;
  margin-bottom: 2rem;
}

.ans.open {
  max-height: 400px;
  opacity: 1;
  transform: translateY(0);
}

.ans.closed {
  max-height: 0;
  opacity: 0;
  transform: translateY(-20px);
  padding: 0 0;
}
