.title {
  font-size: var(--size-32);
  font-weight: 700;
}
.section {
  background-color: var(--color-gray);
  color: var(--color-white);
}

.text {
  font-size: var(--size-16);
  font-weight: 600;
}

.glass {
  background: linear-gradient(
    100deg,
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0)
  );
  border: 0.1rem solid var(--color-white);
  padding: 2rem 3rem;
  border-radius: var(--radius-20);
}

.grid {
  gap: var(--gap-20);
  grid-template-columns: 3fr max-content max-content;
}

.gridCart {
  grid-template-columns: repeat(4, 1fr);
  gap: var(--gap-20);
}

@media (max-width: 850px) {
  .grid {
    grid-template-columns: 1fr 1fr;
    justify-items: center;
  }
  .glass {
    grid-column: 1 / -1;
  }
  .gridCart {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }
}

@media (max-width: 500px) {
  .grid {
    grid-template-columns: 1fr 2fr;
  }
}
