.icon_contact {
  background: #2d36de;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  -webkit-animation: up 3s;
  animation: up 3s;
}

.icon_small {
  width: 3rem;
  height: 3rem;
}

.icon_small svg {
  width: 2.3rem;
  height: 2.3rem;
}

.icon_large {
  width: 4.8rem;
  height: 4.8rem;
}

.icon_large svg {
  width: 2.5rem;
  height: 2.5rem;
}

.icon_big {
  width: 6rem;
  height: 6rem;
}

.icon_big svg {
  width: 4rem;
  height: 4rem;
}

.icon_contact:hover {
  transform: translateY(-0.4rem);
  box-shadow: 0 12px 10px 0 rgba(0, 0, 0, 0.2);
}

.icon_contact:active {
  transform: translateY(-0.2rem);
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
}
