.flex {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.card {
  background-color: var(--color-gray);
  color: var(--color-white);
  border-radius: 10px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.box {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 1fr;
}

.logo {
  grid-row: 1 / -1;
  width: 7.5rem;
  height: 7.5rem;
  background-color: #fff;
  border-radius: 50%;
}

.title {
  font-size: var(--size-20);
  font-weight: 700;
  justify-self: center;
  align-self: center;
}

.count {
  font-size: 3.2rem;
  font-weight: 800;
  justify-self: center;
  align-self: center;
}

.link {
  font-size: var(--size-20);
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.hr {
  border-bottom: 0.3rem dashed rgba(114, 114, 114, 1);
}
