.card {
  background-color: #ffffff;
  border-radius: var(--radius-15);
  box-shadow: 0 3px 18px rgba(0, 0, 0, 0.2);
  padding: 2rem;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.title {
  font-size: var(--size-20);
  font-weight: 700;
  color: #333333;
  margin-bottom: 1rem;
  border-bottom: 2px solid #f0f0f0;
  padding-bottom: 0.5rem;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 1rem;
  align-items: flex-start;
  font-size: var(--size-18);
}

.key {
  font-weight: 500;
  color: #6c757d;
}

.value {
  font-weight: 600;
  color: #333333;
  word-break: break-word;
}

.statusContainer {
  grid-column: 1 / -1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.8rem;
  padding-top: 1rem;
  border-top: 1px dashed #e0e0e0;
}

.statusBadge {
  position: relative;
  font-size: var(--size-16);
  font-weight: 700;
  padding: 0.3rem 0.8rem;
  border-radius: 100rem;
  border: none;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;

  &.pending {
    background-color: #ffc107;
    color: #343a40;
  }
  &.repair {
    background-color: #007bff;
  }
  &.fulfilled {
    background-color: #28a745;
  }
}

.statusBadge option {
  background-color: var(--color-white);
  color: var(--color-black);
}
