.content {
  overflow-x: auto;
}

.header {
  border: 0.1rem solid var(--color-gray-light);
  border-radius: 2rem;
  padding: 1.6rem;
}

.title {
  font-size: var(--size-24);
  font-weight: 600;
  text-align: center;
}
