.form {
  position: absolute;
  top: 110%;
  padding: 2rem;
  background: var(--color-white);
  color: var(--color-black);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  /* width: max-content; */
  /* border: 0.2rem solid var(--color-gray-light); */
  box-shadow: 0 3px 6px 2px rgba(0, 0, 0, 0.25);
  border-radius: var(--radius-20);
  z-index: 90;
  font-size: var(--size-16);
}

.btn {
  background: var(--color-blue);
  color: var(--color-white);
  border-radius: var(--radius-10);
  padding: 0.5rem 1rem;
}

.label {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
}

.left {
  left: -40%;
  top: 130%;
}

.right {
  left: 0;
}

.form input[type="number"],
input[type="text"] {
  width: 100px;
}
