.form {
  position: absolute;
  top: 110%;
  padding: 2rem;
  background: var(--color-white);
  color: var(--color-black);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: max-content;
  border: 0.2rem solid var(--color-gray-light);
  border-radius: var(--radius-20);
}

.btn {
  background: var(--color-blue);
  color: var(--color-white);
  border-radius: var(--radius-10);
  padding: 0.5rem 1rem;
}

.label {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
}

.left {
  left: -100%;
}

.right {
  left: 0;
}
