.btn {
  background: var(--color-blue);
  color: var(--color-white);
  border-radius: var(--radius-15);
  padding: 1rem 2rem;
  position: relative;
}

.span {
  display: flex;
  gap: 2rem;
}

.arr {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
