.text1 {
  text-align: center;
  font-size: 6.4rem;
  font-weight: 800;
}

.text_sm {
  text-align: center;
  font-size: var(--size-36);
  font-weight: 600;
}

.comp {
  position: absolute;
  top: 10%;
  right: 68%;
  width: 86rem;
  height: 57rem;
  -webkit-animation: pc 2s;
  animation: pc 2s;
  overflow: hidden;
}

.laptop {
  position: absolute;
  top: 10%;
  left: 80%;
  width: 58rem;
  height: 62rem;
  -webkit-animation: laptop 2s;
  animation: laptop 2s;
  overflow: hidden;
}

.relative {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.hidden {
  overflow: hidden;
}

.pb {
  padding-block: 24rem 19rem;
}

@keyframes laptop {
  0% {
    transform: translateX(200%);
  }
  80% {
    transform: translateX(-10%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes pc {
  0% {
    transform: translateX(-200%);
  }
  80% {
    transform: translateX(10%);
  }
  100% {
    transform: translateX(0);
  }
}

.printer {
  top: 25%;
  left: 30%;
  -webkit-animation: icon 3s;
  animation: icon 3s;
}

@media only screen and (max-width: 500px) {
  .printer {
    left: 20%;
    top: 20%;
  }
}

.cpu {
  top: 20%;
  left: 47%;
  -webkit-animation: icon 3s;
  animation: icon 3s;
}

@media only screen and (max-width: 500px) {
  .cpu {
    left: 45%;
    top: 15%;
  }
}

.laptopIcon {
  top: 25%;
  left: 65%;
  -webkit-animation: icon 3s;
  animation: icon 3s;
}

@media only screen and (max-width: 500px) {
  .laptopIcon {
    left: 75%;
    top: 20%;
  }
}

.save {
  top: 80%;
  left: 35%;
  -webkit-animation: icon 3s;
  animation: icon 3s;
}

@media only screen and (max-width: 500px) {
  .save {
    left: 25%;
  }
}

.display {
  top: 80%;
  left: 60%;
  -webkit-animation: icon 3s;
  animation: icon 3s;
}

@media only screen and (max-width: 500px) {
  .display {
    left: 70%;
  }
}

@-webkit-keyframes icon {
  0% {
    transform: scale(1.2) rotate(350deg);
  }

  100% {
    transform: scale(1) rotate(0);
  }
}

@keyframes icon {
  0% {
    transform: scale(1.2) rotate(350deg);
  }

  100% {
    transform: scale(1) rotate(0);
  }
}

.icon_small {
  width: 5.8rem;
  height: 5.8rem;
  position: absolute;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(3, -webkit-max-content);
  grid-template-columns: repeat(3, max-content);
  justify-content: center;
  grid-gap: 2rem;
}

.btn_connect_anim {
  -webkit-animation: up 3s;
  animation: up 3s;
}

@keyframes up {
  0% {
    transform: translateY(300%);
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  100% {
    transform: translateY(0);
  }
}
