.form {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  justify-content: space-evenly;
  border-radius: var(--radius-10);
  padding: 2rem;
  gap: 1.5rem;
  font-size: var(--size-16);
  border: 1px solid var(--color-gray-light);
  transition: all ease-out 0.3s;
}

.form:hover {
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.25);
}

.form label {
  font-size: var(--size-20);
  font-weight: 600;
}

.input {
  border: 1px solid var(--color-gray-light);
  border-radius: var(--radius-15);
  padding: 1rem 2rem;
  font-weight: 600;
}

.area {
  resize: vertical;
  height: 10rem;
}

.button {
  background: var(--color-blue);
  color: var(--color-white);
  border-radius: var(--radius-15);
  padding: 1rem;
  width: 100%;
  font-weight: 600;
  font-size: var(--size-20);
}
