.card {
  background-color: #ffffff;
  border-radius: var(--radius-15);
  box-shadow: 0 3px 18px 2px rgba(0, 0, 0, 0.2);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.title {
  font-size: var(--size-20);
  font-weight: 700;
  color: #333333;
  border-bottom: 2px solid #f0f0f0;
  padding-bottom: 0.5rem;
  display: flex;
  justify-content: space-between;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 1rem;
  align-items: flex-start;
  font-size: var(--size-18);
  overflow: hidden;
  max-height: 0;
  opacity: 0;
  transition:
    max-height 0.3s ease-out,
    opacity 0.3s ease-out;
}

.grid.open {
  max-height: 1000px;
  opacity: 1;
}

.grid.closed {
  max-height: 0;
  opacity: 0;
}

.key {
  font-weight: 500;
  color: #6c757d;
}

.value {
  font-weight: 600;
  color: #333333;
  word-break: break-word;
}

.statusContainer {
  grid-column: 1 / -1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.statusBadge {
  position: relative;
  font-size: var(--size-16);
  font-weight: 700;
  padding: 0.8rem 1rem;
  border-radius: 100rem;
  border: none;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;
  box-shadow:
    0 4px 6px rgba(0, 0, 0, 0.1),
    0 0 10px #16311c60;
  transition: box-shadow 0.3s ease-in-out;

  &.pending {
    background-color: #ffc107;
    color: #343a40;
  }
  &.repair {
    background-color: #007bff;
  }
  &.fulfilled {
    background-color: #28a745;
  }
}

.statusBadge option {
  background-color: var(--color-white);
  color: var(--color-black);
}

.border {
  width: 100%;
  height: 0.1rem;
  border: 0.1rem dashed var(--color-gray-light);
}

.btn {
  display: flex;
  gap: 1rem;
}

.statusBadge:hover {
  transition: all 0.1s ease-in-out;
  z-index: 100;
  &.pending {
    box-shadow: 0 6px 6px #ffc1077e;
    color: #343a40;
  }
  &.repair {
    box-shadow: 0 6px 6px #007bff7a;
  }
  &.fulfilled {
    box-shadow: 0 6px 6px 1px #28a7467f;
  }
}

.arr {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hr {
  grid-column: 1 / -1;
  border-top: 2px dashed var(--color-gray-light);
}

/* @keyframes expand {
  0% {
    max-height: 0;
    opacity: 0;
  }
  100% {
    max-height: 100%;
    opacity: 1;
  }
}

@keyframes collapse {
  0% {
    max-height: 100%;
    opacity: 1;
  }
  100% {
    max-height: 0;
    opacity: 0;
  }
} */
