.right {
  border-top-right-radius: var(--radius-15);
  border-end-end-radius: var(--radius-15);
  background:
    linear-gradient(rgba(0, 60, 255, 0.4), rgba(0, 60, 255, 0.4)),
    url("/img/profile-form.png") center / cover;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.block {
  box-shadow: 0rem 0.2rem 1rem 0rem rgba(0, 0, 0, 0.25);
  border-radius: var(--radius-15);
  display: grid;
  grid-template-columns: 5fr 4fr;
}

.forum {
  text-align: right;
  font-size: 4rem;
  font-weight: bold;
  color: var(--color-white);
}

.service {
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  color: var(--color-white);
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-inline: 3rem;
}

.title {
  font-weight: 800;
  font-size: var(--size-32);
}

@media (max-width: 420px) {
  .right {
    display: none;
  }

  .block {
    grid-template-columns: 1fr;
  }
}
