.BookingPage {
  display: grid;
  grid-template-columns: 2fr 1fr;
  row-gap: 1rem;
  column-gap: 3rem;
  border-radius: var(--radius-20);
}
@media (max-width: 650px) {
  .BookingPage {
    grid-template-columns: 1fr;
  }
}
