.title {
  font-size: var(--size-32);
  font-weight: 700;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

.count {
  font-size: var(--size-16);
  opacity: 70%;
}

.find {
  font-size: var(--size-20);
}

.list {
  font-size: var(--size-24);
}
