@font-face {
  font-family: "Nunito";
  src:
    url("../fonts/Nunito-VariableFont_wght.ttf") format("truetype"),
    url("../fonts/Nunito-VariableFont_wght.woff") format("woff");
  font-weight: 100 900;
  font-style: normal;
}

html,
body {
  font-family: "Nunito", sans-serif;
  font-weight: normal;
}

html {
  font-size: 62.5%;
}

.container {
  max-width: 125rem;
  margin: 0 auto;
  padding-inline: clamp(0rem, 4vw, 3rem);
  transition: padding-inline 0.18s ease;
}

.grid {
  display: grid;
}

.flex {
  display: flex;
}

.dlex {
  display: flex;
  flex-direction: column;
}

.gap {
  gap: 1rem;
}
.gap20 {
  gap: 2rem;
}

.jcc {
  justify-content: center;
}

.jcb {
  justify-content: space-between;
}

.aic {
  align-items: center;
}

.aie {
  align-items: end;
}

.pb {
  padding-block: 3rem;
}

.pb4 {
  padding-block: 4rem;
}

.tac {
  text-align: center;
}

.dlex05 {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.mb {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.mb4 {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.title {
  font-size: var(--size-32);
  font-weight: 700;
}

.min-height-80 {
  min-height: 30rem;
}

/* для кнопок */
.primary {
  color: var(--color-blue);
  font-size: var(--size-20);
}

.active {
  background: var(--color-blue);
  color: var(--color-white);
}

.blue_small {
  font-size: var(--size-16);
  background: var(--color-blue);
  color: var(--color-white);
}

.aboutProduct {
  background: var(--color-blue);
  color: var(--color-white);
  width: 100%;
  text-align: center;
}

.spooky {
  width: 100%;
  border: 1px solid var(--color-white);
}

@media (max-width: 850px) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 500px) {
  html {
    font-size: 40%;
  }
}
