.h {
  font-size: var(--size-24);
  font-weight: 700;
}

.flex {
  font-size: var(--size-16);
  border: 1px solid var(--color-gray-light);
  border-radius: 1rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  transition: all ease-out 0.3s;
}

.flex:hover {
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.25);
}

.head {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  font-weight: 600;
}

.map {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 3rem;
}

.frame {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  border: none;
}

@media (max-width: 650px) {
  .flex {
    display: none;
  }
}
