.card {
  background-color: #212529;
  color: #f8f9fa;
  border-radius: var(--radius-20);
  padding: 1.5rem 0;
  height: fit-content;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: space-between;
  height: 50rem;
}

.card h3 {
  text-align: center;
  padding-bottom: 1rem;
  font-size: var(--size-20);
  font-weight: 700;
  color: #ffffff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  width: 90%;
  align-self: center;
}

.links {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem 0;
}

.links a {
  width: 100%;
}

.links a {
  padding: 1rem 1rem;
  display: block;
  font-size: var(--size-20);
  font-weight: 600;
  color: #ced4da;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.2s ease;
}

.links a:hover {
  background-color: rgba(255, 255, 255, 0.05);
  color: #ffffff;
}

.links .active {
  background: linear-gradient(
    90deg,
    var(--color-blue) 0%,
    rgba(0, 123, 255, 0.1) 100%
  );
  color: #ffffff;
  font-weight: 600;
  padding-left: 3rem;
}

.hr {
  display: none;
}

.log {
  font-size: var(--size-16);
  padding: 1rem 2rem;
  font-weight: 600;
  border-radius: var(--radius-15);
  background-color: var(--color-red);
  color: white;
  border: none;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(220, 53, 69, 0.4);
  transition: background-color 0.2s;
  width: calc(100% - 3rem);
}

.border {
  position: sticky;
  top: 5rem;
  z-index: 100;
}

.log:hover {
  background-color: #c82333;
}

@media (max-width: 768px) {
  .card {
    border-radius: 0;
    width: 100%;
    box-shadow: none;
    overflow-x: auto;
    background-color: #ffffff;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: fit-content;
    padding: 0;
  }

  .border {
    top: 0;
    border-bottom: 0.3rem solid var(--color-gray-50);
  }

  .card h3 {
    display: none;
  }

  .links {
    flex-direction: row;
    gap: 0.5rem;
    justify-content: flex-start;
  }

  .links a {
    flex-shrink: 1;
    border-radius: 1rem;
    color: #343a40;
    background-color: #f0f0f0;
    font-size: var(--size-16);
    text-align: center;
    border: 0.3rem solid var(--color-gray-50);
  }

  .links .active {
    background: var(--color-white);
    color: var(--color-black);
    border-left: 0.3rem solid var(--color-blue);
    padding-left: 1rem;
    font-weight: 600;
    border: 0.3rem solid var(--color-blue);
  }

  .links a:hover {
    background-color: var(--color-blue);
    color: #ffffff;
  }

  .hr {
    display: none;
  }

  .log {
    display: none;
  }
}
