.card {
  background-color: #212529;
  color: #f8f9fa;
  border-radius: var(--radius-20);
  padding: 1.5rem 0;
  height: fit-content;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  gap: 0;
}

.card h3 {
  padding: 0 1.5rem;
  margin-bottom: 2rem;
  text-align: center;
  font-size: var(--size-20);
  font-weight: 700;
  color: #ffffff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  padding-bottom: 0.5rem;
  width: 90%;
  align-self: center;
}

.links {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0;
}

.links p {
  width: 100%;
}

.links a,
.links p {
  display: block;
  padding: 1rem 1.5rem;
  font-size: var(--size-20);
  font-weight: 600;
  color: #ced4da;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.2s ease;
}

.links a:hover,
.links p:hover {
  background-color: rgba(255, 255, 255, 0.05);
  color: #ffffff;
}

.links .active {
  background: linear-gradient(
    90deg,
    var(--color-blue) 0%,
    rgba(0, 123, 255, 0.1) 100%
  );
  color: #ffffff;
  font-weight: 600;
  border-left: 5px solid var(--color-blue);
  padding-left: 1.25rem;
}

.hr {
  display: none;
}

.log {
  font-size: var(--size-16);
  margin: 3rem 1.5rem 0 1.5rem;
  padding: 0.75rem;
  font-weight: 600;
  border-radius: var(--radius-15);
  background-color: var(--color-red);
  color: white;
  border: none;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(220, 53, 69, 0.4);
  transition: background-color 0.2s;
  width: calc(100% - 3rem);
}
.log:hover {
  background-color: #c82333;
}

@media (max-width: 768px) {
  .card {
    border-radius: 0;
    padding: 0.5rem 0;
    margin-bottom: 1.5rem;
    width: 100%;
    box-shadow: none;
    overflow-x: auto;
    background-color: #ffffff;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }

  .card h3 {
    display: none;
  }

  .links {
    flex-direction: row;
    gap: 0.5rem;
    padding: 0 0.5rem;
    justify-content: flex-start;
  }

  .links a,
  .links p {
    flex-shrink: 1;
    padding: 0.5rem 1rem;
    border-radius: 9999px;
    color: #343a40;
    background-color: #f0f0f0;
    font-size: var(--size-16);
    text-align: center;
  }

  .links .active {
    background: #007bff;
    color: #ffffff;
    border-left: none;
    padding-left: 1rem;
    font-weight: 600;
  }

  .links a:hover,
  .links p:hover {
    background-color: var(--color-blue);
    color: #ffffff;
  }

  .hr {
    display: none;
  }

  .log {
    display: none;
  }
}
