.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 1rem;
  box-sizing: border-box;
  font-size: var(--size-16);
  font-weight: 600;
  gap: 1rem;
  background: #fff;
  border-radius: 12px;
  overflow: hidden;
}

.img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  background: #f4f4f4;
  border-radius: 2rem;
  border: 1px solid var(--color-blue);
}

.content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  flex: 1 1 auto;
}

.desc {
  margin: 0;
  color: #333;
  font-weight: 400;
  line-height: 1.3;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.price {
  font-size: var(--size-24);
  font-weight: 700;
  margin: 0;
}
